{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('register_user') }}" method="POST">
	<dl>
		<dt>Username:
		<dd><input type="text" value="{% if username %}{{ username }}{% endif %}" class="form-control bottom-extra-margin" size="20" name="username">
		<dt>Password:
		<dd><input type="password" class="form-control bottom-extra-margin" name="password">
		<dt>Confirm password
		<dd><input type="password" class="form-control bottom-extra-margin" name="password_confirm">
		<dd><input type="submit" class="btn btn-primary" value="Register">
	</dl>
</form>
{% endblock %}
